<template name="KnowledgePanel">
	<div id="knowledgePanel">
	       <div id="main" class="container-fluid">
	        	
	        	<div class="row-fluid">
		 			<div class="span6">
		 				<p>Answer</p>
		 				<p id="answerArea"></p>
					</div>
						
		 			<div class="span6">
						<p>Snippet</p>
						<p id="snippetArea"></p>
		 			</div>
	        	</div>
	        	<div class="row-fluid">
	        		<button type="button" class="btn btn-snippet">Insert Snippet</button>
	        	</div>
	 		</div>

	</div>
</template>